.grades-container-sg {
  width: 100%;
  height: 100vh;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1.5rem;
  overflow-y: auto; /* Enables vertical scrolling */
}

.grades-container-sg::-webkit-scrollbar {
  width: 10px;
  background-color: #ffffff; /* White background */
}

.grades-containe-sg::-webkit-scrollbar-thumb {
  background-color: #b0b0b0; /* Light grey color for the thumb */
  border-radius: 5px;
}

.grades-container-sg::-webkit-scrollbar-track {
  background-color: #ffffff; /* White background for the track */
}

.grades-title-sg {
  font-size: 35px;
  font-weight: bold;
  color: #006400; /* Dark green */
  margin-bottom: 1.5rem;
}

.top-controls-student-grades-sg {
  display: flex;
  justify-content: space-between; /* Ensures buttons align to the right */
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.buttons-group-student-grades-sg {
  display: flex;
  gap: 1rem; /* Adds spacing between the buttons */
}

.pdf-button-student-grades-sg,
.xls-button-student-grades-sg {
  background-color: #ffffff;
  color: #006400;
  border: 1px solid #006400;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.pdf-button-student-grades-sg:hover,
.xls-button-student-grades-sg:hover {
  background-color: #f8f8f8;
}

.table-container-sg{
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* smooth scrolling on iOS */
}
.table-container-sg::-webkit-scrollbar {
  height: 3px; /* height for horizontal scrollbar */
}

.table-container-sg::-webkit-scrollbar-track {
  background: #f1f1f1; /* track color */
  border-radius: 10px;
}

.table-container-sg::-webkit-scrollbar-thumb {
  background: #f1f1f1; /* thumb color */
  border-radius: 3px;
}

.table-container-sg::-webkit-scrollbar-thumb:hover {
  background: #555; /* thumb color on hover */
}


.grades-table-sg {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1.5rem;
}

.grades-table-sg th,
.grades-table-sg td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.grades-table-sg th {
  color: #333333; /* Dark gray */
  font-weight: bold;
  font-size: 10px;
}

.grades-table-sg td {
  color: #555555; /* Medium gray */
  font-size: 10px;
}

.grades-table-sg td:last-child,
.grades-table-sg td:nth-last-child(2) {
  text-align: center;
}

.grades-table-sg tr:hover {
  background-color: #f9f9f9; /* Light hover effect */
}

.semester-average-sg {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  font-size: 14px;
}

.semester-average-sg span {
  color: #333333;
  font-weight: bold;
}

.average-input-sg {
  width: 100px;
  margin-left: 0.5rem;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: right;
  color: red;
  font-weight: bold;
}

.final-grades-sg {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
}

.final-grades-sg span {
  color: #333333;
  font-weight: bold;
  margin-bottom: 4rem;
}

.final-grades-input-sg {
  width: 100px;
  margin-left: 0.5rem;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: right;
  color: red;
  font-weight: bold;
  margin-bottom: 4rem;
}
.modal-overlay-sg{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.modal-content-sg{
  background-color: #fff;
  padding: 3rem;
  border-radius: 8px;
  width: 600px;
  max-width: 90%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.modal-content-sg h3{
  font-size: 30px;
  font-weight: bold;
  color: #006400;
  text-align: center;
  margin-bottom: 20px;
}
.modal-content-sg p{
  font-size: 14px;
  color: #333;
  margin-bottom: 40px;
  text-align: center;
  font-weight: 500;
}
.modal-buttons-sg{
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  align-items: center;     /* Center the buttons vertically if needed */
  gap: 5rem;               /* Optional: Adds space between buttons */
  margin-top: 1rem;   
  margin-bottom: 10px;
}
.modal-yes-button-sg{
  background-color: #1d563f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  width: 110px;
}
.modal-no-button-sg{
  background-color: #ffffff;
  color: #006400;
  border: 1px solid #006400;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  width: 110px;
}
.modal-yes-button-sg:hover{
  background-color: #004d33;
}
.modal-no-button-sg:hover{
  background-color: #cedfce;
  color:#006400;
  border: solid 1px #006400;
}
@media (max-width: 480px) {
  .grades-container-sg {
    padding: 0;
    margin-top: 3rem;
    overflow-x: hidden;
    margin-bottom: 0px;
  }
  .grades-title-sg {
    margin-top: 25px;
    font-size: 20px;
    margin-bottom: 1px;
  }
  .top-controls-student-grades-sg {
    margin-top: 1rem;
    margin-bottom: -10px;
    gap: 160px;
  }
  .buttons-group-student-grades-sg {
    gap: 10px;
  }
  .pdf-button-student-grades-sg,
  .xls-button-student-grades-sg {
  font-size: 10px;
  padding: 0.5rem 1rem;
}
  .grades-table-sg {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1px;
}
.grades-table-sg th {
  font-size: 10px;
  padding: 15px;
  white-space: nowrap;
}
.grades-table-sg td {
  font-size: 10px;
  padding: 15px;
      white-space: nowrap;
}
}
@media (min-width:481px) and (max-width: 768px) {
  .grades-container-sg {
    padding: 0;
    margin-top: 6rem;
    overflow-x: hidden;
    margin-bottom: 0px;
  }
  .grades-title-sg {
    font-size: 30px;
    margin-bottom: 1px;
  }
  .grades-table-sg th {
    font-size: 14px;
    padding: 15px;
    white-space: nowrap;
  }
  .grades-table-sg td {
    font-size: 15px;
    padding: 15px;
        white-space: nowrap;
  }
  .semester-average-sg {
    font-size: 14px;
  }
  .average-input-sg {
    font-size: 14px;
  }
  .final-grades-input-sg {
    font-size: 14px;
  }
}

@media (min-width:769px) and (max-width: 1024px) {
  .grades-container-sg {
    padding: 0;
    margin-top: 4rem;
    overflow-x: hidden;
    margin-bottom: 0px;
  }
  .grades-title-sg {
    font-size: 30px;
    margin-bottom: 1px;
  }
  .grades-table-sg th {
    font-size: 14px;
    padding: 15px;
    white-space: nowrap;
  }
  .grades-table-sg td {
    font-size: 15px;
    padding: 15px;
        white-space: nowrap;
  }
  .semester-average-sg {
    font-size: 14px;
  }
  .average-input-sg {
    font-size: 14px;
  }
  .final-grades-input-sg {
    font-size: 14px;
  }
}