/* Container for the review form */
.studentprofile-container {
  width: 100%;
  height: 100vh;
  padding: 3rem;
    font-family: 'Poppins', sans-serif;
    overflow-y: auto; /* Enables vertical scrolling */
  }
  /* Custom Scrollbar for Webkit Browsers (Chrome, Safari) */
  .studentprofile-container::-webkit-scrollbar {
    width: 10px;
    background-color: #ffffff; /* White background */
  }
  
  .studentprofile-container::-webkit-scrollbar-thumb {
    background-color: #e7fff5; /* Light grey color for the thumb */
    border-radius: 5px;
  }
  
  .studentprofile-container::-webkit-scrollbar-track {
    background-color: #ffffff; /* White background for the track */
  }
  .studentprofile-container h4{
    color: #1d563f;
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .header-sp {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    color: #333333;
  }
  
  .studentprofile-title-sp {
    font-size: 35px;
    font-weight: bold;
    color: #006400; /* Dark green */
    margin-bottom: 1.5rem;
  }

  /* Layout for image and form fields */
  .image-and-form-container-sp {
    display: flex;
    gap: 3rem;
    align-items: flex-start;
  }
  
  /* Left side image container */
  .image-upload-container-sp {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-left: 20px;
  }
  
  .box-decoration-sp {
    border: 1px dashed #ffffff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 10px;
  
  }
  
  .img-display-before-sp,
  .img-display-after-sp {
    height: 250px;
    width: 250px;
    border-radius: 15%;
  }
  
  /* Right side form fields container */
  .form-fields-container-sp {
    flex: 1.5;
  }
  
  /* Styling the form rows to align elements */
  .form-row-sp {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 15px;
  }
  
  /* Styling individual form groups */
  .form-group-sp {
    flex: 1;
  }

  
  .form-group-sp label {
    color: #333;
    font-size: 15px;
  }
  
  .form-group-sp input,
  .form-group-sp select {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    color: black;
    font-family: Inter;
  }

  .separator {
    border: none;
    border-top: 1px solid #636161;
  }
  @media (max-width: 480px) {
    .studentprofile-container {
      padding-top: 0;
      padding-left: 30px;
      padding-right: 30px;
      width: 100%;
      overflow-x: hidden;
      }
      .header-sp {
        margin-top: 70px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        font-size: 14px;
      }
      .studentprofile-container h4{
        margin-bottom: 1px;
        padding: 0;
      }
      .studentprofile-title-sp {
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 0;
        text-align: center;
      }
      .image-and-form-container-sp {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
      }
      .image-upload-container-sp {
        width: 100%;
        display: flex;
        justify-content: center;
      }
      .box-decoration-sp{
        margin-left: 20px;
      }
      .img-display-before-sp,
      .img-display-after-sp {
        height: 250px;
        width: 250px;
        border-radius: 15%;
        object-fit: cover;
      }
      .form-fields-container-sp {
        width: 100%;
        padding: 10px 0;
      }
      .form-row-sp {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        margin-left: 15px;
      }
      .form-group-sp {
        width: 100%;
      }
      .form-group-sp label {
        font-size: 14px;
        margin-bottom: 5px;
      }
      .form-group-sp input,
      .form-group-sp select {
        width: 100%;
        padding: 0.75rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: white;
        color: black;
        font-family: Inter;
        font-size: 14px;
      }  
  }
  @media (min-width:481px) and (max-width:768px){
    .studentprofile-container {
      padding-top: 0;
      padding-left: 30px;
      padding-right: 30px;
      width: 100%;
      overflow-x: hidden;
      }
      .header-sp {
        margin-top: 90px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        font-size: 14px;
      }
      .studentprofile-title-sp {
        font-size: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: left;
      }
      .image-and-form-container-sp {
        display: flex;
        gap: 1px;
        align-items: flex-start;
      }
      
      /* Left side image container */
      .image-upload-container-sp {
        width: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
        margin-left: 20px;
      }
      .img-display-before-sp,
      .img-display-after-sp {
        height: 200px;
        width: 200px;
        border-radius: 15%;
        object-fit: cover;
        margin-right: 15px;
      }
      .form-row-sp {
        display: flex;
        flex-direction: row;
        gap: 10px;
        width: 100%;
        margin-left: 15px;
      }
        
  .form-group-sp label {
    color: #333;
    font-size: 12px;
  }
  }
  @media (min-width:481px) and (max-width:1024px){
    .studentprofile-title-sp {
      font-size: 35px;
      margin-top: 15px;
      margin-bottom: 25px;
      text-align: left;
    }
  }