/* Main container styling */
.subject-schedule-container {
  width: 100%;
  height: 100vh;
  padding: 1rem 1rem;
  overflow-y: auto; /* Enables vertical scrolling */
}

.subject-schedule-container::-webkit-scrollbar {
  width: 10px;
  background-color: #ffffff; /* White background */
}

.subject-schedule-container::-webkit-scrollbar-thumb {
  background-color: #b0b0b0; /* Light grey for the thumb */
  border-radius: 5px;
}

.subject-schedule-container::-webkit-scrollbar-track {
  background-color: #ffffff; /* White track background */
}

/* Header section */
.header-subject-schedule {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  color: #333333;
}

.subject-schedule-title {
  font-size: 35px;
  font-weight: bold;
  color: #006400;
}

/* Top controls section */
.top-controls-subject-schedule {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.search-and-add-subject-schedule {
  display: flex;
  align-items: center;
  gap: 1rem; /* Space between search input and add button */
}

.search-input-subject-schedule {
  width: 500px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  margin-right: 26.2rem;
}

.add-button-subject-schedule {
  padding: 0.5rem 2rem;
  background-color: #ffff;
  color: #006400;
  border: 1px solid #006400;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
  width: 100px;
  height: 6vh;
}

.add-button-subject-schedule:hover {
  background-color: #006400;
  color: #ffffff;
  border: 2px solid #004d33;
}

.students-subject-schedule {
  background-color: #ffff;
  color: #006400;
  border: 1px solid #006400;
  border-radius: 4px;
  cursor: pointer;
  font-size: 9px;
  width: 70px;
  height: 4vh;
}

.students-subject-schedule:hover {
  background-color: #006400;
  color: #ffffff;
  border: 2px solid #004d33;
}

.grades-subject-schedule {
  background-color: #ffff;
  color: #006400;
  border: 1px solid #006400;
  border-radius: 4px;
  cursor: pointer;
  font-size: 9px;
  width: 70px;
  height: 4vh;
}

.grades-subject-schedule:hover {
  background-color: #006400;
  color: #ffffff;
  border: 2px solid #004d33;
}

.pdf-subject-schedule {
  padding: 0.5rem 2rem;
  background-color: #ffff;
  color: #006400;
  border: 1px solid #006400;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
  width: 100px;
  height: 6vh;
}

.pdf-subject-schedule:hover {
  background-color: #006400;
  color: #ffffff;
  border: 2px solid #004d33;
}

/* Table styling */
.subject-schedule-table {
  width: 100%;
  border-collapse: collapse;
}

.subject-schedule-table th,
.subject-schedule-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.subject-schedule-table th {
  color: #333333;
  font-weight: bold;
  font-size: 10px;
}

.subject-schedule-table td {
  color: #555555;
  font-size: 10px;
}

.subject-schedule-table td:last-child,
.subject-schedule-table td:nth-last-child(2) {
  text-align: center;
}

.subject-schedule-table tr:hover {
  background-color: #f9f9f9;
}

/* Modal styles */
.subject-schedule-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.subject-schedule-modal-content {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  width: 600px;
  max-width: 90%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-title-subject-schedule {
  font-size: 20px;
  font-weight: bold;
  color: #006400;
  text-align: center;
  margin-bottom: 1.5rem;
}

.modal-form-subject-schedule {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.form-group-subject-schedule {
  display: flex;
  flex-direction: column;
}

.modal-form-subject-schedule label {
  font-size: 14px;
  color: #333333;
  margin-bottom: 0.5rem;
  text-align: left;
  font-weight: 600;
}

.modal-form-subject-schedule input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.modal-form-subject-schedule.full-width {
  grid-column: span 2;
}

.button-group-subject-schedule {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.discard-button-subject-schedule {
  background-color: #ffffff;
  color: #006400;
  border: 1px solid #006400;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.discard-button-subject-schedule:hover {
  background-color: #006400;
  color: #ffffff;
  border: 2px solid #004d33;
}

.save-button-subject-schedule {
  background-color: #006400;
  color: #ffffff;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.save-button-subject-schedule:hover {
  background-color: #004d33;
}
